<ul class="inbox-page">
	<% @messages.each do |message| %>
		<% if message.read_at.nil? %>
		<li class="unread">
		<% else %>
		<li>
		<% end %>			
			<div class="row">
				<div class="m-sender col-xs-3"><%= message.recipient.username %></div>
				<div class="m-body col-xs-6"><%= message.body %></div>
				<div class="m-time col-xs-3">
				<% if message.read_at.nil? %> 
					<%= "unread" %> 
				<% else %>
					<%= message.read_at %>
				<% end %>
				</div>
			</div>
		</li>
	<% end %>
</ul>