<ul class="user-list">
	<% @users.each do |user| %>
		<% if user.id == current_user.id %>
		<% else %>
			<li>
				<ul>
					<li><b><%= user.username %></b></li>
					<li>
						<%= form_tag(:controller => "friendships", :action => "create", remote: true) do %>
							<%= hidden_field_tag 'friend_id', user.id %>
							<%= submit_tag "Add to list friend" %>
						<% end %>
					</li>
				</ul> 
			</li>
		<% end %>
	<% end %>
</ul>
